:host {
  display: block; /* Ensure the host element behaves like a block-level element */
  width: -webkit-fill-available;
}

.country-name {
  font-weight: bolder;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  column-gap: 150px;
  margin: 20px;
  justify-items: center;

  .country-name,
  .country-subtitle {
    grid-column: span 2;
    text-align: left;
    padding-left: 5%;
  }
}

.grid-item {
  padding-bottom: 50px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: grid;

  &:hover {
    cursor: pointer;
  }

  .img-container {
    margin-bottom: 15px;
    width: max-content;
    height: auto;

    img {
      width: 264px;
      height: 160px;
      border-radius: 8px;
    }
  }
}

.img-container .country-name {
  font-size: 1.2rem;
  margin: 10px 0;
}

@media screen and (max-width: 1580px) {
  .grid-container {
    column-gap: 40px;
  }

  .grid-item {
    width: fit-content;
  }
}

@media screen and (max-width: 1240px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 10px;
  }

  .grid-item {
    width: fit-content;
  }
}

@media (max-width: 912px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    width: fit-content;
  }
}

@media (max-width: 610px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item {
    .img-container {
      img {
        width: 300px !important;
        height: 200px;
        border-radius: 8px;
      }
    }
  }
}
