.back-arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  box-shadow: 2px 2px 8px rgba(17, 21, 23, 0.5);
  border-radius: 5px;
  width: 120px;
  margin-bottom: 60px;

  &:hover {
    cursor: pointer;
  }
}
