@if(!selectedCountry && currentRoute === '/') {
<div class="main-page-container">
  <div class="smaller-screen flex items-center gap-4 pl-6 pr-6 pt-12 pb-12">
    <div class="relative flex-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="#848484"
        class="absolute left-3 top-1/2 transform -translate-y-1/2 w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-4.35-4.35M10 18a8 8 0 100-16 8 8 0 000 16z"
        />
      </svg>
      <input
        matInput
        [ngClass]="{
          'bg-header-dark': dark,
          'bg-light-input': !dark,
          'text-light-input': dark,
          'text-header-dark': !dark
        }"
        [(ngModel)]="searchText"
        (keyup)="onSearchTextChange()"
        type="text"
        id="country"
        class="border border-gray-300 text-sm rounded-lg pl-10 pr-3 py-2.5 w-full"
        placeholder="Search for a country..."
        required
      />
    </div>
    <mat-form-field
      class="w-64"
      [ngClass]="{
        'bg-header-dark': dark,
        'bg-light-input': !dark,
        'text-light-input': dark,
        'text-header-dark': !dark
      }"
    >
      <mat-label
        [ngClass]="{
          'bg-header-dark': dark,
          'bg-light-input': !dark,
          'text-light-input': dark,
          'text-header-dark': !dark
        }"
        >Select by region</mat-label
      >
      <mat-select
        [(value)]="selectedRegion"
        (selectionChange)="filterByRegion()"
        [ngClass]="{
          'bg-header-dark': dark,
          'bg-light-input': !dark,
          'text-light-input': dark,
          'text-header-dark': !dark
        }"
      >
        <mat-option
          *ngFor="let continent of continents"
          [value]="continent"
          [ngClass]="{
            'bg-header-dark': dark,
            'bg-light-input': !dark,
            'text-light-input': dark,
            'text-header-dark': !dark
          }"
        >
          {{ continent }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="full-width flex items-center gap-4 pl-6 pr-6 pt-12">
    <app-country
      [searchText]="searchText"
      [dark]="dark"
      [countries]="filterCountries"
      [filterCountries]="filterCountries"
      (countrySelected)="onCountrySelected($event)"
    ></app-country>
  </div>
</div>
} @else {
<div class="height-scroll" *ngIf="selectedCountry">
  <app-country-details
    [dark]="dark"
    [country]="selectedCountry"
    (onBack)="redirect()"
  ></app-country-details>
</div>
}
