#country {
  width: 400px;
  height: 56px;
}

.text-light-input {
  color: #ffffff;
}

.text-header-dark {
  color: #2b3844;
  background-color: transparent;
}

.text-light-input {
  color: #ffffff;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

.mat-form-field.mat-focused svg {
  color: white;
}

::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: inherit !important;

    &:hover {
      background-color: inherit !important;
    }
  }

  .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
    display: none !important;
  }

  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
    .mat-mdc-text-field-wrapper {
    color: #ffffff;
  }

  mat-select {
    background-color: inherit !important;

    &:hover {
      background-color: inherit !important;
    }
  }

  .mat-mdc-form-field-bottom-align::before {
    height: 0 !important;
  }

  .mat-mdc-select-arrow {
    color: inherit !important;
  }

  div.mat-mdc-select-panel {
    padding: 0 !important;
    max-height: 200px;
    overflow-y: auto;
    position: relative;
  }

  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    color: #2b3844 !important;
  }

  .mat-mdc-option:focus.mdc-list-item,
  .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    color: #2b3844 !important;
  }

  .mat-mdc-option[aria-selected="true"] {
    background-color: transparent !important;
    color: inherit !important;
  }

  .mat-mdc-form-field-bottom-align::before {
    display: none !important;
  }
}

.main-page-container {
  overflow: auto;
  display: block;
  height: 95vh;
}

.full-width {
  width: 100vw;
}

@media screen and (max-width: 667px) {
  .smaller-screen {
    display: block !important;

    svg {
      margin-top: -15px;
    }
  }
  #country {
    width: -webkit-fill-available;
    margin-bottom: 30px;
  }
}
