@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-family: "Nunito Sans", sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
